div#map-container {
    width: 100%;
    height: 400px;
  }


  .mappy{
    width: 100%;
    height: 400px;
    position: relative;
    top: 120px;
  }

  
  .mappy {
    width: 100%;
    height: 400px; /* Adjust as needed */
    overflow: hidden;
  }
  
  body {
    overflow: auto !important; /* Ensures page scrolling is always enabled */
  }
  
 #root {
    width: 100%;
    height: 100%;
  }

    